/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.byebug_history
/.coveralls.yml
.coveralls.yml
*/.gem
# Ignore application configuration
/config/application.yml
